@import "styles/fonts";
@import "styles/wheel";

header {
    height: 60px;
    background: url("./images/barrier.png") no-repeat;
    background-size: contain;
    background-position: top;
}

body {
    margin: 0;
    background-color: #ffd1d1;
}

#app {
    min-height: calc(100vh - 100px);

    .twoAbsBar {

        .leftBar,
        .rightBar {
            width: 20%;

            img {
                width: 100%;
            }
        }

        .leftBar {
            position: absolute;
            left: 0;
            top: 20%;
        }

        .rightBar {
            position: absolute;
            right: 0;
            top: 20%;
        }
    }

    .main {
        .content {
            .title {
                font-family: FingerPaint;
                text-align: center;

                &.subTitle {
                    font-size: 2rem;
                    color: #4f5ea9;
                }

                &.mainTitle {
                    font-size: 5rem;
                    color: #db6363;
                }

                @media only screen and (max-width: 600px) {
                    &.subTitle {
                        font-size: 1rem;
                        color: #4f5ea9;
                    }

                    &.mainTitle {
                        font-size: 2rem;
                        color: #db6363;
                    }
                }
            }

        }
    }

    .chatWidget {
        position: absolute;
        background: linear-gradient(to bottom left, #db6363 20%, #FFFFFF 100%);

        width: 400px;
        opacity: 1;
        bottom: 50px;
        left: 50px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(#777777, 0.5);

        @media only screen and (max-width: 600px) {
            display: none;
        }

        .chatContent {
            background: #F9FBFF;

            .headTitle {
                position: absolute;
                background: url("./images/tag.png") no-repeat;
                background-size: contain;
                width: 70%;
                height: 20px;
                top: -20px;
                text-align: center;
                line-height: 20px;
                left: 50%;
                transform: translatex(-50%);
                font-family: FingerPaint;
                color: #ffffff;
            }

            .bubble {
                position: relative;
                display: inline-block;
                margin-bottom: 5px;
                color: #F9FBFF;
                font-size: 1rem;
                padding: 10px 10px 10px 12px;
                border-radius: 20px;

                font-family: Raleway;
            }

            .incoming {
                position: absolute;
                width: 80%;
                height: 80%;
                padding: 20px;
                overflow-y: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                .bubble {
                    background: #db6363;
                }
            }

        }
    }
}

footer {
    position: relative;

    .barrier {
        background: url("./images/barrier-footer.png") no-repeat;
        background-size: contain;
        background-position: bottom;
        height: 40px;
    }

    .flower {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;

        img {
            width: 150px;
        }
    }
}

.swal-modal {
    .swal-title {
        font-family: Raleway;
    }

    .swal-text {
        font-family: FingerPaint;
    }

    .swal-button--confirm {
        font-family: FingerPaint;
        background-color: #db6363;
    }
}

#btnPlay {
    transform-origin: center;

    &.init {
        animation: playDance 1s infinite alternate;
    }


}

@keyframes playDance {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}
