@font-face {
  font-family: FingerPaint;
  src: url(./fonts/FingerPaint-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Raleway;
  src: url(./fonts/Raleway-ExtraBold.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

#_1 {
  fill: #ba4d4e;
}

#_2 {
  fill: #1592e8;
}

#_3 {
  fill: #14c187;
}

#_4 {
  fill: #fc7800;
}

#_5 {
  fill: #14c187;
}

#_6 {
  fill: #1592e8;
}

#_7 {
  fill: #ba4d4e;
}

#_8 {
  fill: #1592e8;
}

#_9 {
  fill: #14c187;
}

#_10 {
  fill: #fc7800;
}

#_11 {
  fill: #14c187;
}

#_12 {
  fill: #1592e8;
}

.frame,
.sticks {
  fill: #fff;
}

.winIndicator {
  fill: #db6363;
}

.wheelMiddle {
  fill: #fff;
}

.luckywheel {
  margin: 40px auto;
  width: 35%;
  height: 50%;
}

@media only screen and (max-width: 600px) {
  .luckywheel {
    width: 100%;
    height: 100%;
  }
}

.btn,
.btn:visited {
  font-weight: 800;
  margin: 10px;
  height: 40px;
  width: 140px;
  -webkit-box-shadow: 4px 4px 20px 0 #cc4c45;
          box-shadow: 4px 4px 20px 0 #cc4c45;
  border-radius: 0;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.btn:hover,
.btn:active {
  color: #fff;
  background-color: #000;
  border: none;
  text-decoration: none;
  -webkit-box-shadow: 4px 4px 5px 0 #cc4c45;
          box-shadow: 4px 4px 5px 0 #cc4c45;
}

header {
  height: 60px;
  background: url("./images/barrier.png") no-repeat;
  background-size: contain;
  background-position: top;
}

body {
  margin: 0;
  background-color: #ffd1d1;
}

#app {
  min-height: calc(100vh - 100px);
}

#app .twoAbsBar .leftBar,
#app .twoAbsBar .rightBar {
  width: 20%;
}

#app .twoAbsBar .leftBar img,
#app .twoAbsBar .rightBar img {
  width: 100%;
}

#app .twoAbsBar .leftBar {
  position: absolute;
  left: 0;
  top: 20%;
}

#app .twoAbsBar .rightBar {
  position: absolute;
  right: 0;
  top: 20%;
}

#app .main .content .title {
  font-family: FingerPaint;
  text-align: center;
}

#app .main .content .title.subTitle {
  font-size: 2rem;
  color: #4f5ea9;
}

#app .main .content .title.mainTitle {
  font-size: 5rem;
  color: #db6363;
}

@media only screen and (max-width: 600px) {
  #app .main .content .title.subTitle {
    font-size: 1rem;
    color: #4f5ea9;
  }
  #app .main .content .title.mainTitle {
    font-size: 2rem;
    color: #db6363;
  }
}

#app .chatWidget {
  position: absolute;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(20%, #db6363), to(#FFFFFF));
  background: linear-gradient(to bottom left, #db6363 20%, #FFFFFF 100%);
  width: 400px;
  opacity: 1;
  bottom: 50px;
  left: 50px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
          box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
}

@media only screen and (max-width: 600px) {
  #app .chatWidget {
    display: none;
  }
}

#app .chatWidget .chatContent {
  background: #F9FBFF;
}

#app .chatWidget .chatContent .headTitle {
  position: absolute;
  background: url("./images/tag.png") no-repeat;
  background-size: contain;
  width: 70%;
  height: 20px;
  top: -20px;
  text-align: center;
  line-height: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  font-family: FingerPaint;
  color: #ffffff;
}

#app .chatWidget .chatContent .bubble {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  color: #F9FBFF;
  font-size: 1rem;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
  font-family: Raleway;
}

#app .chatWidget .chatContent .incoming {
  position: absolute;
  width: 80%;
  height: 80%;
  padding: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#app .chatWidget .chatContent .incoming::-webkit-scrollbar {
  display: none;
}

#app .chatWidget .chatContent .incoming .bubble {
  background: #db6363;
}

footer {
  position: relative;
}

footer .barrier {
  background: url("./images/barrier-footer.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 40px;
}

footer .flower {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .flower img {
  width: 150px;
}

.swal-modal .swal-title {
  font-family: Raleway;
}

.swal-modal .swal-text {
  font-family: FingerPaint;
}

.swal-modal .swal-button--confirm {
  font-family: FingerPaint;
  background-color: #db6363;
}

#btnPlay {
  -webkit-transform-origin: center;
          transform-origin: center;
}

#btnPlay.init {
  -webkit-animation: playDance 1s infinite alternate;
          animation: playDance 1s infinite alternate;
}

@-webkit-keyframes playDance {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes playDance {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=styles.css.map */