@font-face {
	font-family: FingerPaint;
	src: url(./fonts/FingerPaint-Regular.ttf) format("truetype");
}
@font-face {
	font-family: Raleway;
	src: url(./fonts/Raleway-ExtraBold.ttf) format("truetype");
	font-weight: 900;
	font-style: normal;
}
